
.test {
  height: 500px;
  background-color: lightblue;
}

listStyle {
  listStyleType: 'none',
  display: 'inlineBlock',
  margin: '3px',
  float: 'left'
}

containerStyle {
  width: '115px',
  height: '115px'
}

buttonStyle {
  display: 'block',
  marginLeft: 'auto',
  marginRight: 'auto'
}

textStyle {
  textAlign: 'center',
  wordWrap: 'break-word'
}
