.ui-autocomplete {
  max-height: 100px;
  max-width: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ui-menu-item {
  margin-left: -40px;
  padding: 5px;
  list-style-type: none;
  background-color: rgba(255, 255, 255, .85);
  border-left: 1px solid lightblue;
  border-right: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
}

.ui-menu-item a:hover {
  text-decoration: none;
  color: black;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-state-focus {
  font-weight: bold;
  color: black;
  outline:none;
}

.btn:focus {
  outline: 0px;
}
