.ui-autocomplete {
  max-height: 100px;
  max-width: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ui-menu-item {
  margin-left: -40px;
  padding: 5px;
  list-style-type: none;
  background-color: rgba(255, 255, 255, .85);
  border-left: 1px solid lightblue;
  border-right: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
}

.ui-menu-item a:hover {
  text-decoration: none;
  color: black;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-state-focus {
  font-weight: bold;
  color: black;
  outline:none;
}

.btn:focus {
  outline: 0px;
}

.example-enter {
  opacity: 0.01;
  bottom: -100px;
  position: relative;
  color: green;
}
.example-enter button {
  color: green;
}

.example-enter.example-enter-active {
  opacity: 1;
  background: none;
  bottom: 0;
  transition: all .5s ease-in;
}
.example-leave {
  opacity: 1;
  top: 0;
  position: relative;
  color: red;
}
.example-leave button {
  text-decoration: line-through;
  color: red;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  top: -100px;
  background: none;
  transition: all .5s ease-out;
  text-decoration: line-through;
}
