.ui-autocomplete {
  max-height: 100px;
  max-width: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ui-menu-item {
  margin-left: -40px;
  padding: 5px;
  list-style-type: none;
  background-color: rgba(255, 255, 255, .85);
  border-left: 1px solid lightblue;
  border-right: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
}

.ui-menu-item a:hover {
  text-decoration: none;
  color: black;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-state-focus {
  font-weight: bold;
  color: black;
  outline:none;
}

.btn:focus {
  outline: 0px;
}

.directory-enter {
  opacity: 0.01;
  bottom: -100px;
  position: relative;
  color: green;
}
.directory-enter button {
  color: green;
}

.directory-enter.directory-enter-active {
  opacity: 1;
  background: none;
  bottom: 0;
  transition: all .5s ease-in;
}
.directory-leave {
  opacity: 1;
  top: 0;
  position: relative;
  color: red;
}
.directory-leave button {
  text-decoration: line-through;
  color: red;
}

.directory-leave.directory-leave-active {
  opacity: 0.01;
  top: -100px;
  background: none;
  transition: all .5s ease-out;
  text-decoration: line-through;
}

.folder-enter {
  opacity: 0.01;
  transform: scale(.01);
}
.folder-enter button {
  transform: scale(.01);
}

.folder-enter.folder-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all .3s;
}

.folder-enter.folder-enter-active button{
  opacity: 1;
  transform: scale(1);
  transition: all .3s;
}

.folder-leave.folder-leave-active {
  opacity: 0.01;
  transform: scale(.01);
  transition: all .3s;
}

.folder-leave.folder-leave-active button {
  opacity: 0.01;
  transform: scale(.01);
  transition: all .3s;
}

.modified {
  bottom: 8px;
  position: relative;
  opacity: 1;
  transform: scale(1.3);
  transition: all .5s;
}

.unchanged {
  bottom: 0px;
  position: relative;
  opacity: .6;
  transform: scale(1);
  transition: all .3s;
}

.fade {
  opacity: .3;
}

.hovered {
  opacity: 1;
}

